// site wide colours
$charcoal: #666666;
$blue: #37A9CE;
$green: #10CE59;
$yellow: #FFDD2B;
$orange: #FF932D;
$red: #ED0F38;

html, body{
  background-image: url("../images/background.png");
  background-repeat: repeat;
  background-color: #F6F6F5;
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'Work Sans', sans-serif;
}

#header-icon{
  background-color:$charcoal;
  width: 80px;
  margin-top: 40px;
  position: fixed;
  border-radius: 0px 2px 2px 0px;
  img{
    width: 50px;
    padding: 6px 10px;
    float: right;
  }
}

#main-content-container{
  margin:50px;
  height: 100%;
}

#section-one{
  .image-container{
    position: absolute;
    z-index: 2;
    top: 30vh;
  }
  img{
    width: 100%;
  }
  .backing{
    background-color: $red;
    height: 50vh;
  }
  #section-one-ipad{
    margin-top:92px;
  }
  #section-one-iphone{
    margin-top:141px;
  }
}
