// site wide colours
$charcoal: #666666;
$blue: #37A9CE;
$green: #10CE59;
$yellow: #FFDD2B;
$orange: #FF932D;
$red: #ED0F38;

html, body{
  height: 100%;
  width: 100%;
  margin: 0px;
  padding: 0px;
}
