@import 'colours';

.backing-square{
  border: 4px solid $blue;
  top: 1000px;
  position: relative;
  background-image: url("../images/background.png");
  background-repeat: repeat;
  background-color: #F6F6F5;
  margin-left: 10px;
  z-index: 12;
}

.backing-square:before{
  content: " ";
  position: absolute;
  z-index: -1;
  top: 7px;
  left: -15px;
  right: 7px;
  bottom: -15px;
  background-image: url("../images/background.png");
  background-repeat: repeat;
  background-color: #F6F6F5;
  border: 4px solid $blue;
}
