@import 'colours';

#section-one{
  .image-container{
    position: fixed;
    z-index: 2;
    top: 25vh;
  }
  img{
    width: 100%;
  }
  .overlay{
    mix-blend-mode:lighten;
  }
  .red-top{
    position: absolute;
    width: 100%;
    top: 6vh;
    left: 0;
    z-index: 10;
  }
  .backing{
    padding-top:40px;
    background-color: $red;
    height: 55vh;
  }
  #section-one-ipad{
    margin-top:95px;
  }
  #section-one-iphone{
    margin-top:193px;
    margin-left: 43px;
  }
  .scroll-arrow{
    float: none;
    margin-top:455px;
    border: solid $charcoal;
    border-width: 0 6px 6px 0;
    padding: 15px;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    animation-name: fade;
    animation-duration: 2.5s;
    animation-iteration-count: infinite;
  }
  .body-copy-container{
    position: relative;
    z-index: 2;
    top:600px;
    margin-bottom: 40px;
    padding-bottom: 200px;
    padding-top: 200px;
    text-align: center;
    display: block;
    background-image: url("../images/background.png");
    background-repeat: repeat;
    background-color: rgba(246,246,245,0.97);
    mix-blend-mode:luminosity;
  }
  .body-copy{
    display: inline-block;
    vertical-align: top;
    padding: 10px;
    text-align: left;
    p{
      font-size: 15px;
      line-height: 1.8;
    }
    a:link, a:visited{
      color: $red;
    }
  }
}
.lead-title{
  position: fixed;
  top: 10vh;
  text-align: center;
  width: calc(100% - 10vh);
  font-size: 35px;
  font-family: 'Lora', serif;
  z-index: 2;
}

.header-copy{
  color: #F6F6F5;
  padding: 0px 0px 0px 55px;
  margin:0;
  font-family: 'Lora', serif;
  position: relative;
  z-index: 3;
}

@keyframes fade {
    0% {border-color: $charcoal;}
    50% {border-color: transparent;}
    100% {border-color: $charcoal;}
}
