@import 'colours';

#section-three{
  background-image: url("../images/background.png");
  background-repeat: repeat;
  background-color: #F6F6F5;
  position: relative;
  z-index:20;
  top: 1011px;
  padding-top: 50px;
  padding-bottom: 50px;
  .backing-pattern{
    // background-image: url("../images/third-section-backing-pattern.png");
    background-image: url("../images/pattern-2-grey.png");
    background-repeat: repeat;
    background-attachment: fixed;
    background-position: center;
    height: 49px;
    opacity: 1;
  }
  .backing-pattern:nth-child(1){
    opacity: 0.1;
  }
  .backing-pattern:nth-child(2){
    opacity: 0.3;
  }
  .backing-pattern:nth-child(3){
    opacity: 0.5;
  }
  .backing-pattern:nth-child(4){
    height: 100%;
  }
}

#form-container{
  background-color: rgba(255,255,255,0.95);
  margin-top:150px;
  margin-bottom:100px;
  padding:50px 10px;
  border-radius: 2px;
  h3{
    font-family: 'lora', serif;
    text-align: center;
    line-height: 1.45;
    color: $red;
  }
  #contact-items-container{
    text-align: center;
  }
  .contact-items{
    display: inline-block;
    padding-left: 20px;
  }
  a, a:visited{
    color: $red;
    text-decoration: none;
  }
  #twitter{
    color: $green;
  }
  button,input,textarea{
    font-family: 'Work Sans', sans-serif;
    font-size: 14px;
    padding: 10px;
    margin-top:10px !important;
    border-radius: 2px;
    border: none;
  }
  button{
    margin: 0 auto;
    padding: 10px 30px;
    cursor: pointer;
    font-weight: bold;
    color: white;
    background-color: $green;
  }
  input,textarea{
    border: 1px solid $charcoal;
  }
  textarea{
    resize: none;
    height: 200px;
  }
}
